@font-face {
  font-family: "Sunflower", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Sunflower:300,500");
  font-weight: normal;
  font-style: normal;
}

/** github markdown container style. */
/** phone has high dpi */
// @import url("@milkdown/theme-nord/style.css") (resolution: 1dppx);
@import url(./markdown.scss) (resolution: 1dppx);
@media (resolution: 1dppx) {
  .container {
    width: 980px;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;

    .milkdown {
      padding: 30px;
      font-size: 16px;

      :focus {
        outline: none;
      }

      /** prosemirror checkbox */
      li {
        position: relative;
        input[type="checkbox"] {
          position: absolute;

          margin: 0 0.2em 0.25em -1.4em;
          vertical-align: middle;

          left: 0;
          top: 7px;
        }
      }

      a {
        cursor: pointer;
      }

      pre {
        tab-size: 4;
      }

      p {
        white-space: pre-wrap;
        box-sizing: border-box;
        word-break: normal;
      }

      p:empty:after {
        content: "\200B";
        box-sizing: border-box;
        display: block;
      }
    }
  }
}

@media (min-resolution: 2dppx) {
  .container {
    width: 980px;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    .milkdown {
      font-size: 32px;

      li {
        position: relative;
        input[type="checkbox"] {
          position: absolute;

          margin: 0.5rem 0 0 -2rem;
          vertical-align: middle;

          height: 26px;
          width: 26px;
        }
      }
    }

    .head {
      font-size: 48px;
      font-weight: 500;
      font-family: "Sunflower", sans-serif;
      text-align: center;
      height: fit-content;
      padding-top: 60px;
      margin-bottom: 20px;
    }

    .content {
      flex-grow: 1;
      overflow: auto;
    }

    .input {
      height: fit-content;
      padding: 0 60px 20px 60px;
      display: flex;
      align-content: center;

      #editor {
        flex-grow: 1;
      }

      #Send-button {
        font-size: 32px;
        margin: auto 0px;
        padding: 10px 20px;
        height: fit-content;
      }
    }
  }
}
